<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head.ejs %>
	
	<script src="vendor/bootstrap/js/bootstrap-confirmation.js"></script>
	
	<script>
	$(function() {
		$('[data-toggle=confirmation]').confirmation({
			rootSelector: '[data-toggle=confirmation]',
			popout: true,
			confirmationEvent: 'change'
		});
	});
	deletefcn = function(delobj) {
		console.log('Deletion confirmed'); 
		$(delobj).val('Delete'); 
		$(delobj).prop('disabled', false);
		$('#edit-or-delete-form').submit();
	};
	</script>
	
	<style>
		table.fixed {table-layout:fixed; width:1000px;}/*Setting the table width is important!*/
		table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
		table.fixed td:nth-of-type(1) {width:300px;}/*Setting the width of column 1.*/
		table.fixed td:nth-of-type(2) {width:250px;}/*Setting the width of column 2.*/
		table.fixed td:nth-of-type(3) {width:150px;}/*Setting the width of column 3.*/
		table.fixed td:nth-of-type(4) {width:100px;}/*Setting the width of column 4.*/
		table.fixed td:nth-of-type(5) {width:100px;}/*Setting the width of column 5.*/
		table.fixed td:nth-of-type(6) {width:100px;}/*Setting the width of column 6.*/
		button.fixed-80 {width:80px;}
		button.delete {}
	</style>

  </head>

  <body id="page-top">
  <div class="container-fluid">
	<form id="edit-or-delete-form" action="/index" method="post" enctype='application/json'>
	  <% for(var i=0; i<sensors.length; i++) { %>
	  
		<table class="fixed">
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3"><h4><%= sensors[i].ID %></h4></td>
				<td rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.thethingsnetwork.org/"><image src="/img/ttn-logo.png" alt="TTN Logo" width="80px" height="60px"></a></td>
				<td><input name="<%= sensors[i].ID %>_edit_btn" type="submit" class="btn fixed-80" value="Edit" /></td>
				<td><input name="<%= sensors[i].ID %>_deploy_btn" type="submit" class="btn fixed-80" value="Deploy" /></td>
			</tr>
			<tr>
				<td><%= sensors[i].desc %></td>
				<td><u>Type:</u> <%= sensors[i].type %></td>
				<td><u>Version:</u> <%= sensors[i].version %></td>
				<td>
					<button id="<%= sensors[i].ID %>_delete_confirm_btn" class="btn fixed-80 delete" data-toggle="confirmation" onchange="deletefcn('#<%= sensors[i].ID %>_delete_btn');">Delete</button>
					<input id="<%= sensors[i].ID %>_delete_btn" name="<%= sensors[i].ID %>_delete_btn" type="text" class="btn fixed-80" disabled="disabled" style="visibility: hidden; display: none;" />
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<hr>
		
	  
	  <% } //end-for %>
	  
	</form>
	  
	  <div class="row top-buffer">
		<div class="col-sm-1">
		  <form action="/new_sensor">
			<input id="new_sensor_btn" class="btn btn-primary" type="submit" value="New Sensor" />
		  </form>
		</div>
		<div class="col-sm-1">
		  <form action="/new_config">
			<input id="new_config_btn" class="btn btn-primary" type="submit" value="New Configuration" />
		  </form>
		</div>
		<div class="col-sm-10">&nbsp;</div>
	  </div>
  </div>
    
  </body>

</html>
