<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head.ejs %>
	
	<script>
		var cfgs = <%- JSON.stringify(cfgs) %>;
		$(function() {
			$('.dropdown-menu a').click(function() {
				console.log($(this).attr('data-value'));
				$(this).closest('.dropdown').find('input.dropdown-toggle')
					.val($(this).attr('data-value'));
			});
		});
		$(function() {
			$('#type_items a').click(function() {
				console.log('typeitem changed');
				$('#version_items').innerHTML = '';
				$('#version_text').val('');
				if($(this).attr('data-value') != '') {
					var versions = cfgs.objects[$(this).attr('data-value')];
					for(var i=0; i<versions.length; i++) {
						if(i==0) {
							$('#version_text').val(versions[i]);
						}
						$('#version_items').innerHTML += '<li><a href="#" data-value="' + versions[i] +'" class="dropdown-item">' + versions[i] + '</a></li>\n';
					}
				}
			});
		});
		$(function() {
			$('#load_btn').click(function() {
				var type = $('#type_text').val();
				var version = $('#version_text').val();
				var params = {'action': 'load', 'type': type, 'version': version};
				var xhr = new XMLHttpRequest();
				xhr.open('PUT', '/new_config');
				xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
				xhr.onload = function() {
					if(xhr.responseText != '') {
						$('#text').val(xhr.responseText);
					} else {
						$('#message').innerHTML = 'No configuration file found for <u>Type:</u> ' + type +  ', <u>Version:</u> ' + version;
					}
				};
				xhr.send(JSON.stringify(params));
			});
		});
	</script>
	
	<style>
	a.dropdown-item {
		color: inherit;
		text-decoration: inherit;
	}
	span.border {
		border: 2px solid;
		border-radius: 3px 3px 3px;
		padding-right: 5px;
	}
	</style>

  </head>

  <body id="page-top">
	
	<div class="container-fluid">
		<h3><b>Create new Configuration</b></h3>
		<br /><hr /><br />
		<h4><u>Example</u></h4>
		<span>
		{
			"fields": [{ 
			"type": "uint",
			"name": "people",
			"offset_bytes": 0,
			"length_bytes": 1}],
			"time": { 
				"from":"network",
				"format":"epoch_ms"},
			"db": { "measurement": "peoplecounter"}
		}
		</span>
		<br /><hr /><br />
		<h4><u>Your configuration:</u></h4>
		<form enctype='application/json' id="new-config-form" method="post" action="/new_config" novalidate></form>
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group dropdown">	
				  <input id="type_text" type="text" class="form-control dropdown-toggle" value="<%= cfgs.type %>" form="new-config-form" name="type" />
				  <ul id="type_items" class="dropdown-menu dropdown-menu-left pull-left">
					<% if(cfgs.type == "") { var typels = [""]; } else { var typels = Object.keys(cfgs.objects);} %>
					<% for(var i=0; i<typels.length; i++) {  %>
						<li><a href="#" data-value="<%= typels[i] %>" class="dropdown-item"><%= typels[i] %></a></li>
					<% } %>
				  </ul>
				  <span role="button" class="input-group-addon dropdown-toggle pull-left border" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				  </span>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="input-group dropdown">
				  <input id="version_text" type="text" class="form-control dropdown-toggle" value="<%= cfgs.version %>" form="new-config-form" name="version" />
				  <ul id="version_items" class="dropdown-menu dropdown-menu-left pull-left">
					<% if(cfgs.version == "") { %>
						<li><a href="#" data-value="" class="dropdown-item"></a></li>
					<% } else { %>
						<% for(var i=0; i<cfgs.objects[typels[0]].length; i++) { %>
							<li><a href="#" data-value="<%= cfgs.objects[typels[0]][i] %>" class="dropdown-item"><%= cfgs.objects[typels[0]][i] %></a></li>
						<% } //end-for %>
					<% } //end-if-else %>
				  </ul>
				  <span role="button" class="input-group-addon dropdown-toggle pull-left border" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				  </span>
				</div>
			</div>
			<div class="col-sm-3">
				<input id="load_btn" class="btn" type="button" value="Load" />
				<input id="save_btn" class="btn" type="submit" value="Save or Replace" form="new-config-form" />
			</div>
		</div>	
	
		<div class="row top-buffer">
			<div class="col">
				<textarea id="text" name="text" class="form-control" rows="10" cols="50" form="new-config-form"><%= text %></textarea>
			</div>
		</div>
		<% if(message != "") {%>
			<div class="row top-buffer">
				<div class="col">
					<font id="message" color="#f00"><%= message %></font><br />
				</div>
			</div>
		<% } %>
		<div class="row top-buffer">
			<div class="col">
				<form action="/index">
					<input type="submit" class="btn" value="Back" />
				</form>
			</div>
		</div>
	</div>

  </body>

</html>
