<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head.ejs %>
	
	<script src="vendor/bootstrap/js/bootstrap-confirmation.js"></script>
	
	<style>
		table.fixed {table-layout:fixed; width:650px;}/*Setting the table width is important!*/
		/*table.fixed td {overflow:hidden;}*//*Hide text outside the cell.*/
		table.fixed td:nth-of-type(1) {width:100px;}/*Setting the width of column 1.*/
		table.fixed td:nth-of-type(2) {width:250px;}/*Setting the width of column 2.*/
		table.fixed td:nth-of-type(3) {width:200px;}/*Setting the width of column 3.*/
		table.fixed td:nth-of-type(4) {width:100px;}/*Setting the width of column 4.*/
		button.fixed-80 {width:80px;}
		button.delete {}
		.collapse-btn {}
		.role-elem-content {}
	</style>
	
	<script>
	$(function() {
		$('.dropdown-menu a').click(function() {
			console.log($(this).attr('data-value'));
			var prefix = '&nbsp'.repeat(Math.max(1, (31 - $(this).attr('data-value').length)));
			$(this).closest('.dropdown').find('.dropdown-toggle')
				.html(prefix + '<span>' + $(this).attr('data-value') + '</span><span class="caret"></span>').show(); 
		});
	});
	$(function() {
		$('.collapse-btn').click(function() {
			if($(this).text() == '+') {
				$(this).text('-');
			} else {
				$(this).text('+');
			}
		});
	});
	saveRole = function(role_elem) {
		console.log("POST request to /save_role");
		var role = $(role_elem).html();
		role = role.substr(role.indexOf('<span>') + 6);
		role = role.substr(0, role.indexOf('</span>'));
		username = role_elem.replace('#','');
		username = username.substring(0, username.lastIndexOf('_role_elem'));

		$('#save_role_user').val(username);
		$('#save_role_role').val(role);
		$('#save_user_role_form').submit();
		
		//No form submission for sending button
		return false; 
	};
	generateRandomPassword = function() {
		//From: https://stackoverflow.com/questions/5651789/is-math-random-cryptographically-secure
		var array = new Uint32Array(10);
		window.crypto.getRandomValues(array);
		var keylist="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		var pw = '';
		for(i=0; i<array.length; i++) {
			pw += keylist.charAt(array[i] % keylist.length);
		}
		return pw;
	}
	generate_new_user_pw = function() {
		$('#password_edit').val(generateRandomPassword());
	}
	setPassword = function(username) {
		console.log("POST request to /set_password");
		var password = generateRandomPassword();

		$('#set_password_user').val(username);
		$('#set_password_password').val(password);
		$('#set_password_form').submit();
		
		//No form submission for sending button
		return false; 
	};
	$(function() {
		$('[data-toggle=confirmation]').confirmation({
			rootSelector: '[data-toggle=confirmation]',
			popout: true,
			confirmationEvent: 'change'
		});
	});
	deletefcn = function(delobj) {
		console.log('Deletion confirmed'); 
		$(delobj).val('Delete'); 
		$(delobj).prop('disabled', false);
		var username = delobj.replace('#','');
		username = username.substring(0, username.lastIndexOf('_delete_btn'));
		$('#delete_user_username').val(username);
		$('#delete_user_form').submit();
	};
	</script>

  </head>

  <body id="page-top">
	<div class="container-fluid">
		  <% for(var i=0; i<users.length; i++) { %>
		  
			<table class="fixed">
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><u>User:</u></td>
					<td><%= users[i].username %></td>
					<td><button id="<%= users[i].username %>_generate_pw_btn" type="button" class="btn" onclick="setPassword('<%= users[i].username %>');">Generate new password</button></td>
					<td>
						<button id="<%= users[i].username %>_delete_confirm_btn" class="btn delete" data-toggle="confirmation" onchange="deletefcn('#<%= users[i].username %>_delete_btn');">Delete</button>
						<input id="<%= users[i].username %>_delete_btn" name="<%= users[i].username %>_delete_btn" type="text" class="btn fixed-80" disabled="disabled" style="visibility: hidden; display: none;" />
					</td>
				</tr>
				<tr>
					<td><u>Role:</u></td>
					<td>
						<div class="input-group dropdown">	
							<span id="<%= users[i].username %>_role_elem" class="input-group-addon dropdown-toggle pull-left border rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%- "&nbsp".repeat(Math.max(1, (31 - users[i].role.length))) %>
								<span class="role-elem-content"><%= users[i].role %></span>
								<span class="caret"></span>
							</span>
							<ul id="<%= users[i].username %>_role_items" class="dropdown-menu dropdown-menu-left pull-left">
								<% for(var j=0; j<roles.length; j++) {  %>
									<li><a href="#" data-value="<%= roles[j] %>" class="dropdown-item"><%= roles[j] %></a></li>
								<% } %>
							</ul>
						</div>
					</td>
					<td><button type="button" class="btn fixed-80" onclick="saveRole('#<%= users[i].username %>_role_elem');" />Save</button></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><u>Sensors:</u></td>
					<td>
						<div class="row">
							<div class="col">
								<% if(users[i].sensors.length > 0) { %>
									<span><%= users[i].sensors[0] %></span>
								<% } //end-if %>
							</div>
						</div>
						<% if(users[i].sensors.length > 1) { %>
							<div class="row">
								<div class="col">
									<div class="collapse" id="<%= users[i].username %>_collapse">
										<!-- <div class="card card-body"> -->
											<% for(var j=1; j<users[i].sensors.length; j++) { %>
												<span><%= users[i].sensors[j] %></span><br />
											<% } //end-for %>
										<!-- </div> -->
									</div>
								</div>
							</div>
						<% } //end-if %>
					</td>
					<td colspan="2">
						<% if(users[i].sensors.length > 1) { %>
							<!-- <div class="col-sm-1"> -->
								<a id="<%= users[i].username %>_collapse_btn" class="btn-sm btn-primary collapse-btn" data-toggle="collapse" href="#<%= users[i].username %>_collapse" role="button" aria-expanded="false" aria-controls="<%= users[i].username %>_collapse">+</a>
							<!-- </div> -->
						<% } //end-if %>
					</td>
				</tr>
				<% if(users[i].alertType != "") { %>
				<tr>
					<td colspan="4">
						<% if(users[i].alertType == "success") { %>
							<div id="success_alert" class="alert alert-success top-buffer" role="alert">
								<%- users[i].alertText %>
							</div>
						<% } else if(users[i].alertType == "failure") { %>
							<div id="error_alert" class="alert alert-danger top-buffer" role="alert">
								<%- users[i].alertText %>
							</div>
						<% } //end-if %>
					</td>
				</tr>
				<% } //end-if %>
			</table>
			<hr>
			
		  
		  <% } //end-for %>
	  
	  
		<form id="new_user_form" action="/new_user" method="post" enctype='application/json'>
			<div class="row top-buffer">
				<div class="col-sm-1">
					<input name="new_user_btn" class="btn btn-primary btn-cricle form-control" type="submit" value="Add" style="display: inline-block;" />
				</div>
				<div class="col-sm-1">	
					<label for="username_edit" class="col-form-label" style="display: inline-block;">Username:</label>
				</div>
				<div class="col">	
					<input name="username_edit" class="form-control" type="edit" style="display: inline-block;" />
				</div>
				<div class="col-sm-1">
					<label for="password_edit" class="col-form-label" style="display: inline-block;">Password:</label>
				</div>
				<div class="col">	
					<input id="password_edit" name="password_edit" class="form-control" type="edit" style="display: inline-block;" />
				</div>
				<div class="col">
					<button id="generate_new_user_pw_btn" type="button" class="btn" onclick="generate_new_user_pw();">Generate</button>
				</div>
			</div>
		</form>
		
		<div class="row top-buffer">
			<div class="col">
				<form action="/index">
					<input type="submit" class="btn" value="Back" />
				</form>
			</div>
		</div>
		
		
		<% if(alertType == "success") { %>
			<div id="success_alert" class="alert alert-success top-buffer" role="alert">
				<%- alertText %>
			</div>
		<% } else if(alertType == "failure") { %>
			<div id="error_alert" class="alert alert-danger top-buffer" role="alert">
				<%- alertText %>
			</div>
		<% } //end-if %>
	</div>
	
	<form id="save_user_role_form" action="/save_role" method="post" enctype='application/json'>
		<input type="hidden" name="username" id="save_role_user" />
		<input type="hidden" name="role" id="save_role_role" />
	</form>
	
	<form id="set_password_form" action="/set_password" method="post" enctype='application/json'>
		<input type="hidden" name="username" id="set_password_user" />
		<input type="hidden" name="password" id="set_password_password" />
	</form>
	
	<form id="delete_user_form" action="/delete_user" method="post" enctype='application/json'>
		<input type="hidden" name="username" id="delete_user_username" />
	</form>
	
	<% include ../partials/footer.ejs %>
    
  </body>

</html>
